@import 'tailwindcss';

:root {
  --spacing: 4px;

  --color-primary: #0891b2;
  --color-primary-dark: #056178;
}

@theme {
  /** Fade Animation */
  --animate-fade-in: fadeIn 0.5s ease-in;

  /** Toast Animation */
  --animate-slide-in: slideIn 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-out: slideOut 0.5s ease-in;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(100%);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      opacity: 1;
      transform: translateX(0);
    }

    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}


@layer utilities {
  .bg-primary-gradation {
    background: linear-gradient(to top, #0891b2, #0896bd, #0bc2da);
  }
}